.stats-container {
  margin: 32px 0;
}

.progress-bar {
  border-radius: .25rem;
  transition: all 2s ease-in;
}

.progress-wrapper {
  padding-right: 20px;
}

.progress-wrapper > p {
  margin-bottom: 0;
  margin-top: 0;
}

.progress-bar > .progress-text {
  text-align: left;
  padding-left: 8px;
  color: white;
  font-size: 1rem;
  color: black;
  white-space: nowrap;
}

.pbar {
 height: 32px;
}