table.filescan-details th {
	text-align:center;
	vertical-align:middle;
	border:none;
}

table.filescan-details .fs-table-header-text_check {
	border-left-width: 2px;
}


table.filescan-details .iconhelp {
	margin-right: 0;
    	margin-left: .25rem;
}
