<div class="a11y_check_footer">
    <!-- TODO: Link this to a Moodle report with -->
    <p><a href="{{url}}" target="_blank">View More</a></p>
<!--    <p><a href="#">How do PDFs get analyzed?</a></p>-->
</div>