{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_a11y_check/summary

    Display a summary of the accessibility check results.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
        scanresults: {
            totalpdfs: number,
            scanned: {
                total: number,
                pdfs: []
            },
            inqueue: {
                total: number,
                pdfs: []
            },
            notinqueue: {
                total: number,
                pdfs: []
            }
        },
        a11yresults: {
            pass: {
                total: number,
                pdfs: []
            },
            warn: [
                total: number,
                pdfs: []
            ],
            fail: [
                total: number,
                pdfs: []
            ],
        },
        lastScan: string
}}


<div class="d-flex flex-column align-items-start">

  <section class="a11y-details-progress my-3 w-100">
    <div id="a11yDetailsProgress"></div>
  </section>

  <section id="a11y-chart-container" class="a11y-pie-chart my-3 w-100"></section>

</div>