{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_a11y_check/summary

    Display a summary of the accessibility check results.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        filename: string
        filesize: number
        hastext: number
        hastitle: number
        haslanguage: number
        hasbookmarks: number
        istagged: number
        pagecount: number
    }[]
}}

<div class="a11y_check_summary">


    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">PDF files found in course<span class="badge bg-primary text-bg-primary p-2">{{results.counts.total}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Files scanned <span class="badge bg-primary text-bg-primary p-2">{{results.counts.scanned}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Files in scan queue<span class="badge bg-primary text-bg-primary p-2">{{results.counts.inqueue}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Files not in scan queue<span class="badge bg-primary text-bg-primary p-2">{{results.counts.notinqueue}}</span></li>
    </ul>

<!--    <ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item">✅ {{a11yresults.totals.pass}} Passing</li>-->
<!--        <li class="list-group-item">⚠ {{a11yresults.totals.warn}} Partially Passing</li>-->
<!--        <li class="list-group-item">❌ {{a11yresults.totals.fail}} Fail</li>-->
<!--    </ul>-->

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Passing <span class="badge bg-success text-bg-success p-2">{{a11yresults.totals.pass}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Partially passing <span class="badge bg-warning text-bg-warning p-2">{{a11yresults.totals.warn}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Failing <span class="badge bg-danger text-bg-danger p-2">{{a11yresults.totals.fail}}</span></li>
    </ul>

<!--    <p><strong>A11y Results</strong></p>-->
<!--    {{^a11yresults}}-->
<!--        <p>No results :(</p>-->
<!--    {{/a11yresults}}-->
<!--    <p><strong>Details</strong></p>-->
<!--    {{^results}}-->
<!--        <p>No results :(</p>-->
<!--    {{/results}}-->

    <p>Last updated: 01/02/03 11:11PM</p>
</div>

<!--{{^element.frozen}}-->
<!--{{#js}}-->
<!--    require(['block_a11y_check/init'], function(module) {-->
<!--        module.init(results)-->
<!--    });-->
<!--{{/js}}-->
<!--{{/element.frozen}}-->